<div class="loading__item loading__i7-progress">
        <div class="progress">
            <div class="progress-bar">
                <div class="progress-shadow"></div>
            </div>
        </div>
    </div>
