
$font-family-sans-serif:  'Montserrat',
                          'PingFang SC', 'Hiragino Sans GB', 'Hiragino Sans GB W3', 'Source Han Sans',
                          'Noto Sans CJK Sc', 'Microsoft YaHei', 'Microsoft Jhenghei',
                          'Avenir', 'Helvetica Neue', 'Arial', sans-serif !default;

$font-weight-product-single-title: normal;

$font-weight-product-list-title: normal;
$font-weight-product-list-price: normal;
$font-size-product-list-title: 16px;
$font-size-product-list-price: 16px;
$font-size-product-list-compare_at_price: 14px;
