{% component dataEditable="blank" %}
    <div class="small--hidden" style="height:{{settings_data.height_desktop or 15}}px"></div>
    <div class="small-up--hidden" style="height:{{settings_data.height_mobile or 15}}px"></div>
{% endcomponent %}