{# 1. 图片全图，文字在上
2. 图片全图，文字在下
3. 图片全图，文字在左
4. 文字在上，下方小图
5. 文字在左，右方小图
6. 文字在右，左方小图
7. 头像 + 下方文字
8. 文字在左，右方全屏
9. 文字在右，左方全屏 #}
{% set customizeFlag = false %}
{% if settings_data.colorSelection == "customize" %}
  {% set customizeFlag = true %}
{% endif %}
{% component %}


{% if settings_data.imgSize == "halfscreen" %}
  <div class="text-image text-position--{{settings_data.textPosition or up}}" style="height: {{settings_data.imageHeight or 300}}px; {{ "background-color:"+settings_data.bgColor+";" if customizeFlag }}">
    <div class="text-image--half ">
      <div class="caption-wrapper">
        <div class="caption-center">
          <div class="text-image__caption" heyshop-animation="{{settings_data.textAnimation}}">
            <h1 class="text-image__title small--text-center" style="{{ "color:"+settings_data.titleColor+";" if customizeFlag }}">{{settings_data.title}}</h1>
            <p class="text-image__paragraph" style="{{ "color:"+settings_data.textColor+";" if customizeFlag }}">{{settings_data.text}}</p>
          </div>
        </div>
      </div>
    </div>

    <div class="text-image--half image-wrapper--originalsize">
      <div class="img" style="background-image: url({{settings_data.image}}); height: 100%;">
      </div>
    </div>
  </div>

{% else %}
  <div class="text-image text-position--{{settings_data.textPosition or up}} text-image--smallpart" style="height: {{settings_data.imageHeight or 300}}px; {{ "background-color:"+settings_data.bgColor+";" if customizeFlag }}">
    <div class="text-image--half caption--half">
      <div class="caption-wrapper">
        <div class="caption-center">
          <div class="text-image__caption" heyshop-animation="{{settings_data.textAnimation}}">
            <h1 class="text-image__title text-center" style="{{ "color:"+settings_data.titleColor+";" if customizeFlag }}">{{settings_data.title}}</h1>
            <p class="text-image__paragraph" style="{{ "color:"+settings_data.textColor+";" if customizeFlag }}">{{settings_data.text}}</p>
          </div>
        </div>
      </div>
    </div>

    <div class="text-image--half image-wrapper--originalsize">
      <div class="img img--h100" style="background-image: url({{settings_data.image}});">
      </div>
    </div>
  </div>
{% endif %}
{% endcomponent %}
