img.hdimg--full {
    width: 100%;
    display: block;
}

.hdimg--background {
    width: 100%;
    height: 0;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}