
.logos {
  padding-top: 2em;
  padding-bottom: 2em;
}

.logos__title {
  font-size: 1.2em;
  line-height: 1.4;
  margin-bottom: 1.5em;
}

.logos__icongroups {
  line-height: 0;
  margin-top: -1em;
  margin-bottom: -1em;
  @include grid-media-query('small') {
    width: 100%!important;
  }
}

.logos__iconlink {
  display: inline-block;
  text-align: center;
  line-height: 0;
  margin: 1em 1em;
  vertical-align: middle;
}

.logos__iconimage,
.logos__iconcaption {
  display: block;
}

.logos__iconimage {
  max-height: 1em;
  line-height: 1em;
}

.logos__iconcaption {
  font-size: 0.5em;
  max-height: 2em;
  line-height: 2em;
}

.logos__iconcaption {
  color: $color-text;
}
