
body,
input,
textarea,
button,
select {

  font-size: $font-size-base;
  // line-height: 1.6;
  line-height: $line-height-base;
  font-family: $font-family-base;
  color: $color-text;
  font-weight: $font-weight-regular;
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: 100%;
}

h1, h2, h3, h4, h5, h6 {
  display: block;
  font-family: $font-family-base;
  font-weight: $font-weight-bold;
  -webkit-font-smoothing: antialiased;
  margin: 1em 0 0.5em 0;
  line-height: $line-height-base;

  a {
    text-decoration: none;
    font-weight: inherit;
  }
}

/*================ Use em() Sass function to declare font-size ================*/

h1 {
  font-size: em($font-size-h1, $font-size-base);
}

h2 {
  font-size: em($font-size-h2, $font-size-base);
}

h3 {
  font-size: em($font-size-h3, $font-size-base);
}

h4 {
  font-size: em($font-size-h4, $font-size-base);
}

h5 {
  font-size: em($font-size-h5, $font-size-base);
}

h6 {
  font-size: em($font-size-h6, $font-size-base);
}

.h1 { @extend h1; }
.h2 { @extend h2; }
.h3 { @extend h3; }
.h4 { @extend h4; }
.h5 { @extend h5; }
.h6 { @extend h6; }

p {
  margin: 0 0 ($gutter / 2) 0;
  word-wrap: break-word;
  img {
    margin: 0;
  }
}

em {
  font-style: italic;
}

b, strong {
  font-weight: $font-weight-bold;
}

small, .small {
  font-size: 0.8em;
}

sup, sub {
  position: relative;
  font-size: 60%;
  vertical-align: baseline;
}

sup {
  top: -0.5em;
}

sub {
  bottom: -0.5em;
}

/*================ Blockquotes ================*/

blockquote {
  font-size: 1.125em;
  line-height: 1.45;
  font-style: italic;
  margin: 0 0 $gutter;
  padding: ($gutter / 2) $gutter;
  border-left: 1px solid $color-border;

  p {
    margin-bottom: 0;

    & + cite {
      margin-top: $gutter / 2;
    }
  }

  cite {
    display: block;
    font-size: 0.75em;

    &:before {
      content: '\2014 \0020';
    }
  }
}

/*================ Code ================*/

code, pre {
  background-color: #faf7f5;
  font-family: $font-family-monospace;
  font-size: 1em;
  border: 0 none;
  padding: 0 2px;
  color: #51ab62;
}

pre {
  overflow: auto;
  padding: $gutter / 2;
  margin: 0 0 $gutter;
}

/*================ Horizontal Rules ================*/
hr {
  clear: both;
  border-top: solid $color-border;
  border-width: 1px 0 0;
  margin: $gutter 0;
  height: 0;

  &.hr--double {
    border-bottom: solid $color-border;
    border-width: 1px 0 1px;
    height: 2px;
  }

  &.hr--small {
    margin: ($gutter / 2) 0;
  }

  &.hr--clear {
    border-top-color: transparent;
  }
}

/*================ Reset colors ================*/

h1, h2, h3, h4, h5, h6,
b, strong, small {
  color: inherit;
}

/*================ Section header ================*/

.section-header {
  margin-top: 2 * $gutter;
  margin-bottom: 2 * $gutter;
}

/*================ Helper classes ================*/

.text-bolder {
  font-weight: bolder !important;
}

.text-lighter {
  font-weight: lighter !important;
}

.text-ellipsis {
  @include ellipsis();
}

.text-serif {
  font-family: $font-family-serif;
}

.text-monospace {
  font-family: $font-family-monospace;
}
